@media all and (max-width: 768px)  {

/*section 1*/
.btn-app {
 padding: 20px;
 font-size: 30px;
 margin-top: 10%;
 text-shadow: bold;
 }

.section-1 {
 height: 90vh;
 }

.yellow-box-desktop {
 display: none;
 }

.yellow-box-mobile {
 display: block;
 background-color: #FFD700;
 color: #FFFFFF;
 height: 40vh;
 margin-top: 40%;
 }

/*modal start*/
.input-modal-1 {
 margin-left: 10%;
 margin-top: 5%;
 }

 /*section 2*/
.mobile {
 margin-left: 20%;
 margin-top: 10%;
 width: 70%;
 }

.txt {
 display: none;
 }

.txt-mobile {
 color: #FFFFFF;
 display: block;
 }


/*section 3*/
.black-box {
 font-size: 40px;
 height: 60vh;
 width: 100%;
 }

.btn-driver2 {
 font-size: 30px;
 }

/*modal driver*/
.form-driver {
 padding: 10%;
 }

.input-box3 {
 width: 100%;
 }

.opc {
 margin-bottom: 5%;
 }

.tmd {
 font-size: 25px;
 }


/*section 4*/
.input-box {
 width: 100%;
 }

.map {
 height: 40vh;
 margin-right: 0;
 width: 100%;
 }

/*section 5*/
.fa {
 font-size: 20px;
 }

.icons {
 margin-left: 70%;
 margin-top: 5%;
 }

.list1 {
 font-size: 20px;
 margin-left: 10%;
 }

.list2 {
 display: none;
 }

.logo {
 margin-top: 0;
 }

.section-5 {
 height: 70vh;
 }

.store {
 margin-top: -60%;
 margin-right: 15%;
 }

.txt-footer {
 margin-left: 10%;
 }
}



@media all and (max-width: 414px) {

/*section 1*/
.btn-app {
 font-size: 15px;
 margin-top: 5%;
 padding: 10px;
 }

.section-1 {
 height: 70vh;
 }

.yellow-box-mobile {
 font-size: 10px;
 margin-top: 20%;
 }

/*modal start*/
.input-modal-1 {
 margin-left: 0;
 margin-top: 2%;
 }


/*section 2*/
.box {
 height: 50vh;
 }

.mobile {
 margin-left: 20%;
 margin-top: 10%;
 width: 70%;
 }

.section-2 {
 height: 60vh;
 }

.txt-mobile {
 color: #FFFFFF;
 display: block;
 font-size: 20px;
 }


/*section 3*/
.black-box {
 height: 60vh;
 width: 100%;
 }

.btn-driver2 {
 font-size: 20px;
 }

.txt-h {
 font-size: 25px;
 }

.txt-p {
 font-size: 20px;
 }

 /*modal driver*/
.form-driver {
 padding: 5%;
 }

.tmd {
 font-size: 15px;
 }


 /*section 5*/
.fa {
 font-size: 15px;
 }

.icons {
 margin-left: 45%;
 margin-top: 5%;
 }

.list1 {
 font-size: 20px;
 margin-left: 0;
 }

.list1 > ul > li > a {
 margin-top: 10px;
 width: 50%;
 }

.section-5 {
 height: 65vh;
 }

.store {
 margin-left: 50%;
 margin-top: -80%;
 }

.store-logo {
 width: 130px;
 }

.store1{
 margin-bottom: 10px;
 }

.txt-footer {
 font-size: 15px;
 margin-left: 10%;
 }
}
